@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

/* FORCE HIDE NATIVE VIDEO CONTROLS ON iOS/MOBILE */
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
    display: none !important;
}
video::-webkit-media-controls-panel {
    display: none !important;
}